.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 300ms ease-out forwards;
}

.text {
  font-weight: bold;
  font-size: 36px;
}
