.footer {
  padding: 0 15px;
  height: 60px;
  background: rgb(224, 74, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.social_links {
  display: flex;
}

.source {
  border: 2px solid white;
  padding: 7px;
  padding-right: 15px;
  border-radius: 20px;
}
