.icon {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.link {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: white;
  text-decoration: underline;
}
